<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>赵玉涵的个人简历</title>
    <meta name="theme-color" content="#ffc91d"/>
    <link rel="icon" href="static/img/xz.png" sizes="32x32"/>
    <link rel="icon" href="static/img/xz.png" sizes="192x192"/>
    <link href="static/kito.css" rel="stylesheet" type="text/css"/>
    <link href="static/jame.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1"/>
</head>
<body>
<aside class="sidebar">
    <div class="avatar">
        <img src="static/img/avatar.jpg" title="npl"/>
    </div>
    <nav class="nav">
        <a href="#info">资料</a>
        <a href="#skills">（尚未）掌握的技能</a>
    </nav>
</aside>
<main>
    <section id="info">
        <div class="wrap">
            <h2 class="title">个人资料</h2>
            <div class="row">
                <div class="col-l-4">
                    <p>姓名：赵玉涵</p>
                    <p>性别：男</p>
                    <p>年龄：14</p>
                </div>
                <div class="col-l-4">
                    <p>QQ：204*****31</p>
                    <p>GitHub：<a href="https://github.com/AnsiXiaoZhao">AnsiXiaoZhao</a></p>
                    <p>博客：<a href="#">暂无</a></p>
                    <p>邮箱：<a href="#">暂无</a></p>
                </div>
                <div class="col-l-4">
                    <p>GitHub真是一个好地方，好多大佬欸。</p>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="wrap">
            <h2 class="title">（尚未）掌握的技能</h2>
            <div class="row scrollable">
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fa fa-html5"></i>
                    </div>
                    <div class="skills-title">
                        <h3>HTML 5</h3>
                        <p>HTML5 网站的架构和开发</p>
                    </div>
                </div>
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fa fa-css3"></i>
                    </div>
                    <div class="skills-title">
                        <h3>CSS3</h3>
                        <p>CSS3 写响应式网站、动画等</p>
                    </div>
                </div>
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="skills-title">
                        <h3>JavaScript</h3>
                        <p>JS的制作简单的程序、交互与特效</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="works">
        <div class="wrap">
            <h2 class="title">从GitHub看到过的（喜欢的）开源内容</h2>
            <div class="row">
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="static/img/works/space.jpg"/>
                        <p>个人博客</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="static/img/works/dream.jpg"/>
                        <p>梦想主题班会</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="static/img/works/kico-style.jpg"/>
                        <p>Kico Style 响应式框架</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="static/img/works/single.jpg"/>
                        <p>Single 博客主题</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="static/img/works/kico-player.jpg"/>
                        <p>Kico Player 播放器</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="static/img/works/sweet.jpg"/>
                        <p>个人主页 Sweet</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </section>
    <section class="content-d" id="team">
        <div class="wrap">
            <h2 class="title">我的团队</h2>
            <div class="row">
                <div class="col-m-6">
                    <p>团队?什么团队</p>
                    <p>其实是一个个人开发者</p>
                </div>
                <div class="col-m-6 center">
                    <img src="static/img/GitHub-Logo.png"/>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>本项目基于部分开源内容,并尊同<a href="https://mit-license.org/" title="MIT License" target="_blank">MIT License</a></p>
    </footer>
</main>

<script src="static/kito.js"></script>
<script src="static/jame.js"></script>

</body>
</html>